{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row">

        <div class="offset-4 col-2">
            <p class="alreadyHave">You didn't have account ? </p>
            <a class="btn btn-primary" href="{{ path('app_register') }}"> sign up </a>
        </div>


        <div class=" col-2 text-end">

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            <form action="{{ path('app_discord') }}" method="post">
                <p class="alreadyHave">Connexion by Discord </p>

                <input type="hidden" name="token" value="{{ csrf_token('discord-auth') }}">
                <button class="btn btn-primary" type="submit">
                   connexion
                </button>
            </form>
        </div>

    </div>
    <div class="offset-5 col-2 mt-3">

        <form class="text-center" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>


            <button class="btn btn-lg btn-success" type="submit">
                Sign in
            </button>
        </form>

    </div>

{% endblock %}
