{% extends 'base.html.twig' %}

{% block title %}Gabs{% endblock %}

{% block body %}
    <h1>Gabs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gab.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ gab.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gabs_index') }}">back to list</a>

    <a href="{{ path('app_gabs_edit', {'id': gab.id}) }}">edit</a>

    {{ include('gabs/_delete_form.html.twig') }}
{% endblock %}
